<template>
    <Disclosure as="nav" class="bg-gray-800" v-slot="{ open }">
      <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
        <div class="flex items-center justify-between h-16">
          <div class="flex items-center">
            <div class="flex-shrink-0">
              <img class="h-12 w-12" id="profile-picture" :src="profilePicture" alt="Sven Masuhr"/>
            </div>
            <div class="hidden md:block">
              <div class="ml-10 flex items-baseline space-x-4">
                <template v-for="(item, itemIdx) in navigation" :key="item">
                  <template v-if="(itemIdx === 0)">
                    <router-link :to="item.pageRoute" class="bg-gray-900 text-white px-3 py-2 rounded-md text-sm font-medium">{{ item.pageName }}</router-link>
                  </template>
                  <router-link v-else :to="item.pageRoute" class="text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium">{{ item.pageName }}</router-link>
                </template>
              </div>
            </div>
          </div>
          <div class="hidden md:block">
            <div class="ml-4 flex items-center md:ml-6">

            </div>
          </div>
          <div class="-mr-2 flex md:hidden">
            <DisclosureButton class="bg-gray-800 inline-flex items-center justify-center p-2 rounded-md text-gray-400 hover:text-white hover:bg-gray-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-gray-800 focus:ring-white">
              <span class="sr-only">Open main menu</span>
              <MenuIcon v-if="!open" class="block h-6 w-6" aria-hidden="true" />
              <XIcon v-else class="block h-6 w-6" aria-hidden="true" />
            </DisclosureButton>
          </div>
        </div>
      </div>

      <DisclosurePanel class="md:hidden">
        <div class="px-2 pt-2 pb-3 space-y-1 sm:px-3">
          <template v-for="(item, itemIdx) in navigation" :key="item">
            <template v-if="(itemIdx === 0)">
              <a href="#" class="bg-gray-900 text-white block px-3 py-2 rounded-md text-base font-medium">{{ item.pageName }}</a>
            </template>
            <a v-else href="#" class="text-gray-300 hover:bg-gray-700 hover:text-white block px-3 py-2 rounded-md text-base font-medium">{{ item.pageName }}</a>
          </template>
        </div>
      </DisclosurePanel>
    </Disclosure>
</template>

<script>
import { ref } from 'vue'
import { Disclosure, DisclosureButton, DisclosurePanel, Menu, MenuButton, MenuItem, MenuItems } from '@headlessui/vue'
import { BellIcon, MenuIcon, XIcon } from '@heroicons/vue/outline'
import profilePicture from '../assets/img/profile-512x.svg'

const navigation = [
  {
    "pageName": "About me",
    "pageRoute": "/"
  },
  {
    "pageName": "Projects",
    "pageRoute": "/projects"
  },
  {
    "pageName": "Contact",
    "pageRoute": "/"
  },
  {
    "pageName": "Imprint",
    "pageRoute": "/"
  }
]

export default {
  name: 'Header',
  components: {
    Disclosure,
    DisclosureButton,
    DisclosurePanel,
    Menu,
    MenuButton,
    MenuItem,
    MenuItems,
    BellIcon,
    MenuIcon,
    XIcon,
  },
  setup() {
    const open = ref(false)

    return {
      profilePicture,
      navigation,
      open,
    }
  },
  computed: {
    currentRoute() {
      return this.$route.name;
    }
  }
}
</script>